@import url('https://fonts.googleapis.com/css?family=Jost&display=swap');

:root {
    --card-color: #f8f8f0;
    --bg-color: #e2e8f0;
    --text-color: #000000;
    --desc-color: #4c4e50;
}

@media (prefers-color-scheme: dark) {
    :root {
        --card-color: #414952;
        --bg-color: #21272e;
        --text-color: #f8f8f0;
        --desc-color: #e2e8f0;
    }
}

* {
    font-family: Jost, Verdana, Arial, sans-serif;
    /* border: 1px solid red; */
}

body {
    background-color: var(--bg-color);
    width: 100vw;
    height: 100vh;
    margin: 0;
    /* overflow-x: hidden;  */
}

.container {
    display: grid;
    grid-template: 1fr 80% / 1fr 80%;
    width: 100%;
    height: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
}

a {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
}

.nav li:hover {
    cursor: pointer;
}

.nav {
    --logo-size: 2.5rem;
    --size: 1.5rem;

    background-color: #3882f6;
    color: #f8f8f0;
    font-weight: bold;
    grid-row: 1 / 3;
    z-index: 2;
}

.nav ul {
    padding-left: 5%;
}

.nav li.logo {
    font-size: var(--logo-size);
    white-space: nowrap;
    padding-right: 8px;
}

.nav li.logo img {
    height: var(--logo-size);
    margin-right: 12px;
}

.nav li.logo {
    margin-bottom: 64px;
}

.nav li img {
    margin-right: 20px;
}

.nav li {
    margin-bottom: 24px;
    width: min-content;
}

.nav li {
    font-size: var(--size);
}

.nav li img {
    height: var(--size);
}

.settings {
    margin-top: 64px;
}

.header {
    box-shadow: 0 4px 8px #00000022;
    z-index: 1;
    background-color: var(--card-color);
    color: var(--text-color);
}

.header img {
    height: 1.5rem;
}

li.hero {
    flex: 3;
    padding-left: 5%;
}

ul.hero {
    padding-left: 12px;
}

li.notif-prof {
    width: 250px;
    justify-content: space-around;
}

.name {
    margin-left: -16px;
}

li.notif-prof>* {
    cursor: pointer;
}

li.buttons {
    flex: 2;
    justify-content: space-around;
    margin-right: 3%;
}

img[alt="Search icon"] {
    margin-right: 12px;
}

img.profile {
    clip-path: circle(40%);
    height: 4rem;
}

img.profile.hero {
    height: 6rem;
}

.row {
    display: flex;
    justify-content: space-around;
}

input {
    appearance: none;
    color: var(--text-color);
    background-color: var(--bg-color);
    border: none;
    border-radius: 24px;
    width: 40vw;
    font-size: 1rem;
    padding: 5px 10px;
}

button {
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #3882f6;
    color: #f8f8f0;
    border: none;
    border-radius: 24px;
    padding: 8px 24px;
    cursor: pointer;
}

button:active {
    background-color: #316ecf;
}

.name, .username, .greeting {
    font-weight: bold;
}

.username {
    font-size: 1.5rem;
}

.content {
    color: var(--text-color);
    background-color: var(--bg-color);
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
}

.content>* {
    margin: 36px 24px;
}

.trending, .announcements {
    margin-right: 0;
    padding-right: 24px;
}

.announcements {
    margin-bottom: 24px;
}

.projects {
    grid-row: 1 / -1;
    margin-right: 0;
}

.projects>div {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    gap: 24px;
}

.trending {
    grid-column: 2;
    margin-top: 0;
}

h3 {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 16px;
}

p {
    margin: 0;
}

.card {
    position: relative;
    background: var(--card-color);
    border-left: 12px solid;
    border-left-color: #309730;
    border-radius: 8px;
    box-shadow: 4px 4px 8px #00000022;
}

.a-card, .t-card {
    background: var(--card-color);
    border-radius: 8px;
    box-shadow: 4px 4px 8px #00000022;
    padding: 16px;
}

.head {
    font-weight: bold;
}

/* border-bottom: 1px solid #e2e8f0; */

p.title {
    font-weight: bold;
    margin: 24px 24px 0 24px;
    width: max-content;
}

.description {
    margin: 0 24px 48px 24px;
}

.card ul {
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin: 0;
    right: 24px;
    bottom: 24px;
    width: 120px;
}

.card-icon {
    height: 1.5rem;
    cursor: pointer;
}

div.projects>div>div.card.blue {
    border-left-color: #31d3df;
}

div.content>div.projects>div>div.card.gold {
    border-left-color: #ffd52e;
}

.a-card li {
    display: block;
    border-bottom: 1px solid var(--bg-color);
    padding-bottom: 16px;
    margin: 16px 16px 0 16px;
}

.a-card li:last-child {
    border-bottom: none;
    margin: 16px 16px 16px 16px;
    padding-bottom: 0;
}

.t-card li {
    padding-left: 16px;
}

.head-desc {
    font-size: .9rem;
}

.user {
    margin-left: 16px;
}

.uname {
    font-size: 1.1rem;
}

.uname, .proj {
    line-height: 100%;
}

.proj, .description, .head-desc {
    color: var(--desc-color);
}

.prof {
    height: 3.5rem;
    clip-path: circle(40%);
}

.code {
    font-size: 13px;
    position: fixed;
    bottom: 0;
    right: 0;
    text-decoration: none;
    color: #f8f8f0;
    background: #3882f6;
    border: none;
    border-radius: 2px;
    padding: 2px;
}
